# Copy this file to .env.development and .env.production

# API route url
API_URL=/api/v1

# Cookie expiry (15 days)
COOKIE_EXPIRES=15

# Auth Facebook and Google ids
GATSBY_FACEBOOK_APP_ID=
GATSBY_GOOGLE_APP_ID=