<div class="columns large-3 medium-6 small-12 end">
	<div class="card">
		<img style="width: 100%;" src="/images/default.jpg">
		<div class="card-section">
			<p>Nom d'un évènement</p>
		</div>
	</div>
</div>