<ul class="vertical menu">
	<li><a href="/">Accueil</a></li>
	<li><a href="/inscription">Inscription/Connexion</a></li>
	<li><a href="/evenement">Évènement</a></li>
	<li><a href="/evenement/creation">Créez votre évènement</a></li>
	<li><a href="#">Condition général d'utilisation</a></li>
</ul>
