<div class="row">
	<div class="columns large-4 small-4" >
		<div style="background: url('rectangle-1.jpg'); background-size: cover; background-position: center; height: 20vh; text-align: center; display: flex; align-items: center; justify-content: center;"></div>
	</div>

	<div class="columns large-8 small-8" style="height: 20vh; overflow: hidden;">
		<div class="row">
			<div class="column"><a href="evenement.php"><h5>Nom de l'évènement</h6></a></div>
		</div>
		<div class="row">
			<div class="column"><a href="organisme.php"><h6>Nom organisateur</h6></a></div>
		</div>
		<div class="row">
			<div class="column"><h6>Nom du lieu</h6></div>
		</div>
		<div class="row">
			<div class="columns large-6 medium-6 small-6">12/09/2017</div>
			<div class="columns large-6 medium-6 small-6">17:23</div>
		</div>

		<!-- <div class="row">
			<span class="label info">Info Label</span>
			<span class="label info">Info Label</span>
			<span class="label info">Info Label</span>
		</div> -->
	</div>
</div>

<hr>