<div data-sticky-container>
	<div class="title-bar" data-sticky-on="small" data-sticky data-options="marginTop:0;" style="width:100%; z-index: 100000; text-align: center;">
    	<div class="title-bar-left">
			<button class="menu-icon" type="button" data-open="offCanvas"></button>
			<span class="title-bar-title">Menu</span>
		</div>
    
		<div onclick="location.href='/'" class="title-bar-title" style="display: inline-block; position: relative; left:-37px;"> <img src="/images/rectangle-1.jpg" width="60px"></div>
	</div>
</div>