node_modules/
eslint_result.html
.DS_Store
*.log
variables.env
package-lock.json
public/dist/
public/uploads/*
!public/uploads/.gitkeep
data/backup/*
!data/backup/.gitkeep

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json