NODE_ENV=development
DATABASE=mongodb://user:pass@host.com:port/database
PORT=3000
MAIL_USER=123
MAIL_PASS=123
MAIL_SERVICE=gmail
MAIL_FROM=Guyana Party <noreply@guyana-party.com>
SECRET=snickers
KEY=sweetsesh
GROUPS_PER_USER_1=1
EVENTS_MONTH_GROUP_1=4
