<!DOCTYPE html>
<html>
<head>
	<title>showmapsmarker</title>
	<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script>
		function init_maps() {
	        // OpenStreetMap
			projmerc = new OpenLayers.Projection("EPSG:900913");
			proj4326 = new OpenLayers.Projection("EPSG:4326");
			map = new OpenLayers.Map("lieumap",
				{
					projection: projmerc,
					displayProjection: proj4326,
					controls:
						[
						new OpenLayers.Control.MousePosition(),
						new OpenLayers.Control.KeyboardDefaults(),
						new OpenLayers.Control.Navigation(),
						],
				}
			);
			var maplayer = new OpenLayers.Layer.OSM("OpenStreetMap");
			map.addLayer(maplayer);
	        // 4.93291,-52.30087

	        var markers = new OpenLayers.Layer.Markers( "Markers" );
            map.addLayer(markers);
            markers.addMarker(new OpenLayers.Marker(position));

			var mapcenter = new OpenLayers.LonLat(-52.30087, 4.93291);
			map.setCenter(mapcenter.transform(proj4326, projmerc), 14);
			var mappanel = new OpenLayers.Control.Panel();
			map.addControl(mappanel);
	    }
    </script>

</head>
<body onload="init_maps();">

	<div id="lieumap" style="height: 400px;">
		
	</div>

</body>
</html>