<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="css/foundation.css"/>
        <script src="js/vendor/jquery.js"></script>
        <title>OpenLayers Simplest Example</title>
    </head>
<body>

    <button class="button" data-open="exampleModal1">Nom du lieu</button>
    <div class="full reveal" id="exampleModal1" data-reveal>
        <p>Ponche à la romaine</p>
      <!-- <div id="Map" style="height:400px"></div> -->
      <iframe frameborder="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-122.480427%2C37.745703%2C-122.472427%2C37.753703&amp;layer=mapnik&amp;marker=37.749703%2C-122.476427" style="border: 1px solid black; height: 400px; width: 100%;"></iframe>
        <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
        <script>
            var lat            = 4.93291;
            var lon            = -52.30087;
            var zoom           = 18;

            var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
            var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
            var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

            map = new OpenLayers.Map("Map");
            var mapnik         = new OpenLayers.Layer.OSM();
            map.addLayer(mapnik);

            var markers = new OpenLayers.Layer.Markers( "Markers" );
            map.addLayer(markers);
            markers.addMarker(new OpenLayers.Marker(position));

            map.setCenter(position, zoom);
        </script>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
</body>
</html>