extends email-layout

block content
  h2 Réinitialisation de votre mot de passe
  p Bonjour. vous avez fait une demande de réinitialisation de votre mot de passe. Veuillez cliquer sur le bouton ci-dessous pour continuer votre réinitialisation :
  +button(resetURL, 'Réinitialiser mon mot de passe →')
  p Si vous ne pouvez pas cliquer sur le bouton ci-dessus, suivez le lien suivant : #{resetURL}
  br
  p Si vous n'êtes pas à l'origine de cette demande, veuillez ne pas en tenir compte.
