extends layout

block content
  .row
    .column.large-2.small-12
      .column.large-12.small-6.small-centered.photo-profile
          a(href="/account"): img(src=`${h.profilePhotoSrc(user)}` alt="photo de profile")
      .column.large-12.small-6.small-centered.top-space
          h4= user.name
          p= user.email
          a(href="/account/edit") Edition du compte
      .separator.top-space.hide-for-large
    .column.large-10.small-12
      .row.top-space
        .column.text-center
          h3 Mes évènements
      .row.top-space
        .column.top-space.small-12.events
          p.top-space.text-center Chargement...
      .separator.top-space
      .row.top-space
        .column.text-center
          h3 Mes organismes
      .row.top-space
        .column.top-space.small-12.orgas
          p.top-space.text-center Chargement...
