extends layout

block content
  .pure-g.account
    .pure-u-1
      .pure-u-1.u-lg-1-6
        .pure-u-1.l-wrap
          .pure-u-1.u-lg-1.u-sm-1-2.l-content.photo-profile
            img.pure-img(src=`${h.profilePhotoSrc(user)}` alt="photo de profile")
          .pure-u-1.u-lg-1.u-sm-1-2.l-content.top-space
            h4= user.name
            span= user.email
            p: a(href="/account/edit") Edition du compte
        .separator.top-space.lg-hide
      .pure-u-1.u-lg-5-6
        //- if user.subscription
        .pure-u-1.text-center.top-space
          h2 Mes évènements
            span.eventsCount
        .pure-u-1.text-center
          .mobile-app-toggle(data-mobile-app-toggle)
            button.button.pure-button.btn-old Archivés
            button.button.pure-button.btn-new.is-active À venir
        //- events list
        .pure-u-1.l-wrap.top-space.events
          p.top-space.text-center Chargement...
        .separator.top-space
        //- else
          .pure-u-1.text-center.top-space
            p Vous n'avez actuellement souscrit à aucune offre, veuillez cliquer sur le bouton ci-dessous pour accéder à la page des souscriptions :
          .pure-u-1.text-center.top-space
            a.pure-button.success(href="/souscriptions") Choisir une souscription
        .pure-u-1.text-center.top-space
          h2 Mes groupes
            span.orgasCount
        //- organisms list
        .pure-u-1.l-wrap.top-space.orgas
          p.top-space.text-center Chargement...
