extends layout

block content
  .row
    .column.large-2.medium-6.small-12.photo-profile
      a(href="/account"): img(src=(user.photo ? `/uploads/${user.photo}` : user.gravatar + '&d=retro') alt="photo de profile")
      h4= user.name
      p= user.email
      a(href="/account/edit") Edition du compte
    .column.large-10.small-12
      .row.top-space
        .column.text-center
          h3 Mes évènements
      .row.top-space
        .column.top-space.small-12.events
          p.top-space.text-center Chargement...
      .separator.top-space
      .row.top-space
        .column.text-center
          h3 Mes organismes
      .row.top-space
        .column.top-space.small-12.orgas
          p.top-space.text-center Chargement...
