extends layout

block style
  link(rel="stylesheet", href="/vendor/foundation.min.css")
  link(rel="stylesheet", href="/vendor/foundation-icons/foundation-icons.css")
  link(rel="stylesheet", href="/vendor/foundation-datepicker.min.css")
  link(rel="stylesheet", href="/vendor/jquery-clockpicker.min.css")
  link(rel="stylesheet", href="/vendor/ol.css")
  link(rel="stylesheet", href="/dist/style.css")

block content
  .grid-container.fluid
    .grid-x.grid-margin-x
      .cell.text-center
        h2= title
    .separator
    form.top-space(action="/events/add" method="POST" enctype="multipart/form-data")
      .grid-x.grid-margin-x.top-space
        .cell.large-6.large-offset-3
          .grid-x.grid-margin-x.top-space
            .cell.input-group
              span.input-group-label: i.fi-clipboard-pencil.size-36
              input.input-group-field(type="text" placeholder="Nom de l'évènement" name="name")
          .grid-x.grid-margin-x.top-space
            .cell
              label: strong Organisme créateur de l'évènement :
          .grid-x.grid-margin-x
            .cell.input-group
              select#orga-select(name="organism")
              input#orga-id(type="hidden" value=`${orga}`)
          .grid-x.grid-margin-x.top-space
            .cell.large-2.medium-2.small-2: label Début
            .cell.large-6.medium-6.small-6
              .input-group
                span.input-group-label: i.fi-calendar.size-36
                input.input-group-field#dp1(type="text" name="startdate")
            .cell.large-4.medium-4.small-4
              .input-group.clockpicker(data-placement="left" data-align="top" data-autoclose="true")
                span.input-group-label: i.fi-clock.size-36
                input.input-group-field#starttime(type="text" name="starttime")
                input#start(type="hidden" name="start")
            .cell.large-2.medium-2.small-2: label Fin
            .cell.large-6.medium-6.small-6
              .input-group
                .input-group-label: i.fi-calendar.size-36
                input.input-group-field#dp2(type="text" name="enddate")
            .cell.large-4.medium-4.small-4
              .input-group.clockpicker(data-placement="left" data-align="top" data-autoclose="true")
                span.input-group-label: i.fi-clock.size-36
                input.input-group-field#endtime(type="text" name="endtime")
                input#end(type="hidden" name="end")
          .grid-x.grid-margin-x.top-space
            .cell.large-6.medium-6.small-12.large-offset-3.medium-offset-3
              label.button.expanded(for="fileUpload") Flyer de l'évènement
              input.show-for-sr#fileUpload(type="file" name="photo" accept="image/gif, image/png, image/jpeg")
              .file-upload-filename
          .grid-x.grid-margin-x.top-space
            .cell
              label Que proposez vous ?
              textarea(name="description" placeholder="Un petit wiki pour décrire proprement l'évènement")
          .grid-x.grid-margin-x.top-space
            .cell
              label Sélectionnez le lieu de l'évènement sur la carte :
              #map.no-events
          .grid-x.grid-margin-x
            .cell
              .input-group
                span.input-group-label: i.fi-marker.size-36
                input.input-group-field#address(type="text" placeholder="Adresse" name="location[address]" value=(event.location && event.location.address))
                input#longitude(type="hidden" name="location[coordinates][0]" value=(event.location && event.location.coordinates[0]))
                input#latitude(type="hidden" name="location[coordinates][1]" value=(event.location && event.location.coordinates[1]))
          .grid-x.grid-margin-x.top-space
            .cell.large-8.medium-8.large-offset-2.medium-offset-2
              input.success.button.expanded(type="submit" value="Créer")

block scripts
  script(src="/vendor/jquery.min.js")
  script(src="/vendor/jquery-clockpicker.min.js")
  script(src="/vendor/foundation.min.js")
  script(src="/vendor/foundation-datepicker.min.js")
  script(src="/vendor/foundation-datepicker.fr.js")
  script(src="/vendor/ol.min.js")
  script(src="/dist/App.bundle.js")
