<!doctype html>
<html class="no-js" lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Créer un évènement public</title>
		<!-- Foundation -->
		<link rel="stylesheet" href="/stylesheets/foundation.css" />

		<!-- map css -->
		<link href="/stylesheets/ol.css" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/map.css" />

		<!-- Font Foundation -->
		<link href="/foundation-icons/foundation-icons.css" rel="stylesheet">
		<!-- JQuery -->
		<!-- <script src="js/vendor/jquery.min.js"></script> -->
		<script src="/js/vendor/jquery.js"></script>



		<!-- Date Picker -->
		<script src="/js/foundation-datepicker.js"></script>
		<script src="/js/locales/foundation-datepicker.fr.js"></script>
		<link rel="stylesheet" href="/stylesheets/foundation-datepicker.min.css">

		<!-- Horloge Picker -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-clockpicker.min.css">

		<!-- init and check form script -->
		<script src="/js/views/creat-init.js"></script>
		<!-- MAPS -->
		<script src="/js/ol/creat-map.js"></script>
		<script src="https://openlayers.org/en/v4.6.4/build/ol.js"></script>
	</head>
	<body>

		<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
			<% if(user) { %>
				<%- include partials/menu_log.ejs %>
			<% } else { %>
				<%- include partials/menu.ejs %>
			<% } %>
		</div>

		<div class="off-canvas-content" data-off-canvas-content>
		<!-- Contenu de la page -->
			<%- include partials/top-bar.ejs %>

			<div class="row">

				<div class="column">
					<form action="/evenement/creation/ajouter" enctype="multipart/form-data" method="post" >
						<div class="row">
							<div class="small-12 small-centered columns" style="text-align: center">
								<h2>Créer l'évènement !</h2>
							</div>
						</div>

						<div class="row">
							<div class="columns large-6">
								<div class="row">
									<div class="column input-group">
										<span class="input-group-label">
											<i class="fi-clipboard-pencil size-36"></i>
										</span>
										<input class="input-group-field" type="text" placeholder="Nom d'évènement" name="name" id="name">
										<input type="hidden" name="longitude" value="-52.30087" id="longitude">
										<input type="hidden" name="latitude" value="4.93291" id="latitude">
									</div>
								</div>

								<div class="row">
									<div class="columns large-2 medium-2 small-2">
										<label>Début</label>
									</div>
									<div class="large-6 medium-6 small-6 columns">
										<div class="input-group">
											<span class="input-group-label">
												<i class="fi-calendar size-36"></i>
											</span>
											<input type="text" class="input-group-field" value="16-06-2017" id="dp1" name="startdate">
										</div>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
											<span class="input-group-label">
												<i class="fi-clock size-36"></i>
											</span>
											<input type="text" class="input-group-field" value="12:21" name="starttime" id="starttime">
										</div>
									</div>

									<div class="columns large-2 medium-2 small-2">
										<label>Fin</label>
									</div>
									<div class="large-6 medium-6 small-6 columns">
										<div class="input-group">
											<span class="input-group-label">
												<i class="fi-calendar size-36"></i>
											</span>
											<input type="text" class="input-group-field" value="16-06-2017" id="dp2" name="enddate">
										</div>
									</div>
									<div class="large-4 medium-4 small-4 columns">
										<div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
											<span class="input-group-label">
												<i class="fi-clock size-36"></i>
											</span>
											<input type="text" class="input-group-field" value="12:21" name="endtime" id="endtime">
										</div>
									</div>
									
								</div>

								<div class="row">
									<div class="columns large-6 medium-6 small-12 small-centered">
										<label for="fileUpload" class="button expanded">Flyer de votre évènement</label>
										<input type="file" id="fileUpload" name="flyer" class="show-for-sr" accept="image/gif, image/jpeg, image/png">
									</div>
								</div>

								<div class="row">
									<div class="column">
										<label>
											Que proposez vous ?
										</label>
										<textarea name="description" placeholder="Un petit wiki pour décrire proprement un évènement"></textarea>
									</div>
								</div>

							</div>

							<div class="columns large-6">
								<!-- MAPS -->
								<div class="row">
									<div class="column">
										<div id="map" style="height: 45vh;"></div>
									</div>
								</div>
								<!-- NOM DU LIEU -->
								<div class="row">
									<div class="column">
										<div class="input-group">
											<span class="input-group-label">
												<i class="fi-marker size-36"></i>
											</span>
											<input class="input-group-field" type="text" placeholder="Nom du lieu" name="address" id="address">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="column large-3 small-centered">
								<input type="submit" value="Créer" class="success button expanded">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>



		<script src="/js/foundation.min.js"></script>

		<!-- Clock Picker -->
		<script type="text/javascript" src="/js/jquery-clockpicker.min.js"></script>
		<script type="text/javascript">
			// Clock Picker
			$('.clockpicker').clockpicker()
				.find('input').change(function(){
					console.log(this.value);
				});

			//  Date Picker
			$(document).foundation();

			window.prettyPrint && prettyPrint();
			$('#dp1').fdatepicker({
				format: 'yyyy-mm-dd',
				disableDblClickSelection: true
			});

			$('#dp2').fdatepicker({
				format: 'yyyy-mm-dd',
				disableDblClickSelection: true
			});

		</script>
	</body>
</html>
