extends layout

block style
  link(rel="stylesheet", href="/vendor/foundation.min.css")
  link(rel="stylesheet", href="/vendor/foundation-icons/foundation-icons.css")
  link(rel="stylesheet", href="/vendor/ol.css")
  link(rel="stylesheet", href="/dist/style.css")

block content
  .grid-container.fluid
    .grid-x.grid-margin-x
      .cell.text-center
        h3= title
    .grid-x.grid-margin-x
      .cell
        form(action="/events" method="POST")
          .search
            input.search__input(type="text" placeholder="Chercher par thème ou par lieu..." name="search" value=`${search?search:''}`)
            input#around-value(type="hidden" name="aroundValue")
    .grid-x.grid-margin-x
      .cell.events-list.large-4
        p Aucun résultat
      .cell.events-map.large-8
        .around
          if around
            input#around-check(type="checkbox" name="around" value="around" checked)
            label#around-label(for="around-check")!= around
          else
            input#around-check(type="checkbox" name="around" value="around")
            label#around-label(for="around-check") Autour de moi
        #map
          .ol-popup#popup
          nav#map_menu
            //-button#geolocation Autour de moi
            //-ul.no_list
              form
                li:input#party(type="checkbox" name="eventLayer" checked) Festif
                li:input#sport(type="checkbox" name="eventLayer" checked) Sportif
                li:input#culture(type="checkbox" name="eventLayer" checked) Culturel

  //-.row
    .column
      .row
        .div(style="text-align: center;")
          h3 Tous les futurs événements
        .input-group
          span.input-group-label: i.fi-magnifying-glass.size-36
          input.input-group-field#input_recherche(name="search" type="text" placeholder="Ville, tags…" autofocus="")
          .input-group-button
            input.button#search(type="submit" value="Rechercher")

  //-#map(style="height: 77vh;")
    .ol-popup#popup/
    nav#map_menu
      button#geolocation Géolocalisation
      ul.no_list
        form
          li:input#party(type="checkbox" name="eventLayer" checked) Festif
          li:input#sport(type="checkbox" name="eventLayer" checked) Sportif
          li:input#culture(type="checkbox" name="eventLayer" checked) Culturel

block scripts
  script(src="/vendor/jquery.min.js")
  script(src="/vendor/foundation.min.js")
  script(src="/vendor/ol.min.js")
  script(src="/dist/App.bundle.js")
