<!doctype html>
<html class="no-js" lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>event page</title>
		<!-- Foundation -->
		<link rel="stylesheet" href="/stylesheets/foundation.css" />

		<!-- map css -->
		<link rel="stylesheet" href="/stylesheets/map.css" />
		<link href="/stylesheets/ol.css" rel="stylesheet">



		<!-- Font Foundation -->
		<link href="/foundation-icons/foundation-icons.css" rel="stylesheet">
		<!-- JQuery -->
		<script src="/js/vendor/jquery.js"></script>

		<script src="/js/ol/mult-map.js"></script>
		<script src="https://openlayers.org/en/v4.6.4/build/ol.js"></script>
		<!-- <script src="js/ol/ol.js"></script> en local -->
	</head>
	<body>

		<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
			<% if(user) { %>
				<%- include partials/menu_log.ejs %>
			<% } else { %>
				<%- include partials/menu.ejs %>
			<% } %>
		</div>

		<div class="off-canvas-content" data-off-canvas-content>
		<!-- Contenu de la page -->
			<%- include partials/top-bar.ejs %>

			<div class="row">
				<div class="column">
					<div class="row">
						<div style="text-align: center;">
							<h3> Tout les futurs événements </h3>
						</div>
						<form action="recherche" name="recherche_evenenement" method="post">
							<div class="input-group">
								<span class="input-group-label">
									<i class="fi-magnifying-glass size-36"></i>
								</span>
								<input name="input_recherche" class="input-group-field" type="text" placeholder="Ville, tags…" autofocus="">
								<div class="input-group-button">
									<input type="submit" class="button" value="Rechercher">
								</div>
							</div>
						</form>
					</div>

				</div>

			</div>

			<!-- CONTENANT DE LA MAPS -->
			<div id="map" style="height: 77vh;">
				<div id="popup" class="ol-popup"></div>
				<nav id="map_menu">
					<button id="geolocation">Géolocalisation</button>
					<ul class="no_list">
						<form>
							<li><input type="checkbox" name="eventLayer" id="party" checked> Festif </li>
							<li><input type="checkbox" name="eventLayer" id="sport" checked> Sportif </li>
							<li><input type="checkbox" name="eventLayer" id="culture" checked> Culturel </li>
						</form>
					</ul>
				</nav>
			</div>

		</div> <!-- of canvas content -->
		<script src="/js/foundation.min.js"></script>
		<script>
			$(document).foundation();
		</script>

	</body>
</html>
