extends layout

block customStyle
  link(rel="stylesheet", href="/vendor/ol/ol.css")

block content
  .pure-g
    //- .pure-u-1.text-center
    //-   h2= title
    .pure-u-1.l-box
      //- form(action="/events" method="POST")
      .search
        input.search__input(type="text" placeholder="Restaurant Cayenne, pizzeria, plombier..." name="search" value=`${search?search:''}`)
        input#around-value(type="hidden" name="aroundValue" value=`${around}`)
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
    .pure-u-1.l-box
      .ol-popup#popup
      #map

block customScripts
  script(src="/vendor/ol/ol.min.js")
