extends layout

block customStyle
  link(rel="stylesheet", href="/vendor/ol/ol.css")

block content

  .pure-u-g
    .pure-u-1
      .pure-u-1.u-lg-2-3.u-md-2-3
        .div-maps
          .ol-popup#popup
          #map.home
      .pure-u-1.u-lg-1-3.u-md-1-3
        .search
          input.search__input(type="text" autocomplete="off" placeholder="Restaurant Cayenne, pizzeria, plombier..." name="search" value=`${search?search:''}`)
          input(type="hidden" name="_csrf" value=`${csrfToken}`)

        ul.pure-u-1.result#resultelements
          //- li.pure-u-1.result-element.result-link
          //-   .pure-u-1-4
          //-     img.result-picture(src="/images/icons/logo.png")
          //-   .pure-u-3-4
          //-     .pure-u-1.u-sm-1
          //-       h4.no-margin-title Nom d'un évènement !!
          //-     .pure-u-1.u-sm-1
          //-       span Le 05/07/2018 à 18:59
          //- li.pure-u-1.result-element
          //-   a.pure-u-1.result-link(href="#")
          //-     img.result-picture(src="/images/icons/logo.png")
          //- li.pure-u-1.result-element
          //-   a.pure-u-1.result-link(href="#")
          //-     img.result-picture(src="/images/icons/logo.png")
          //- li.pure-u-1.result-element
          //-   a.pure-u-1.result-link(href="#")
          //-     img.result-picture(src="/images/icons/logo.png")
          //- li.pure-u-1.result-element
          //-   a.pure-u-1.result-link(href="#")
          //-     img.result-picture(src="/images/icons/logo.png")
          //- li.pure-u-1.result-element
          //-   a.pure-u-1.result-link(href="#")
          //-     img.result-picture(src="/images/icons/logo.png")
          //- li.pure-u-1.result-element
          //-   a.pure-u-1.result-link(href="#")
          //-     img.result-picture(src="/images/icons/logo.png")
          //- li.pure-u-1.result-element
          //-   a.pure-u-1.result-link(href="#")
          //-     img.result-picture(src="/images/icons/logo.png")
          //- li.pure-u-1.result-element
          //-   a.pure-u-1.result-link(href="#")
          //-     img.result-picture(src="/images/icons/logo.png")
          //- li.pure-u-1.result-element
          //-   a.pure-u-1.result-link(href="#")
          //-     img.result-picture(src="/images/icons/logo.png")


  //- p Organisez-vous, créez vos évènements et partagez-les.
  //- p Soyez curieux et bougez autour de chez vous!
  //- p Une application économe en énergie et en stockage.
  //- p La vie est un écosystème et un terrain d'expériencep Organisez-vous, créez vos évènements et partagez-les.
  //- p Soyez curieux et bougez autour de chez vous!
  //- p Une application écologique peu gourmande en énergie et espace de stockage.
  //- p Limité son expérience numérique pour augmenté sa réalité !


//- block customScripts
//-   script(src="/vendor/ol/ol.min.js")
