extends layout

//- include mixins/_hero

block content
  .hero-container
    .hero
      .pure-g
        .search.pure-1-5
          button.pure-button.pure-button-primary.button-xlarge#around-click Trouver les évènements autour de moi
        .pure-3-5
          button.pure-button.button-success.button-xlarge#newevents-click Créer un évènement rapide
  .content-wrapper
    .pure-g.content
      .pure-u-1.top-space
        h2.content-head.text-center Planifier des évènements.
        p Organisez-vous, créez vos évènements et partagez-les.
        p Soyez curieux et bougez autour de chez vous!
        p Une application écologique peu gourmande en énergie et espace de stockage.
        p La vie est un écosystème et un terrain d'expérience


  //-.row.home
    //- mixin creationEventBlock()
    //-   .row
    //-     .columns.large-9.large-centered.medium-8.medium-centered
    //-       p L'essentiel pour faire des rencontres c'est de savoir où et quand se retrouver. Déterminez vos thèmes et publiez.
    //-     .columns.large-6.medium-6.small-12.large-centered.medium-centered
    //-       a.button.expanded.success(href="/events/add") Créez un évènement
    //-     hr.hide-for-large

    //- if user
    //-   .column
    //-     +creationEventBlock
    //- else
    //-   .columns.large-6
    //-     +creationEventBlock
    //-   .columns.large-6
    //-     .row
    //-       .columns.large-8.large-centered.medium-8.medium-centered
    //-         p Pour votre association ou votre entreprise, gérez vos évènements public sur votre page dédiée
    //-       .columns.large-6.medium-6.small-12.large-centered.medium-centered
    //-         a.button.expanded.alert(href="/login") Connexion / Inscription
