<!doctype html>
<html class="no-js" lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Liberté Humaine</title>
		<!-- Foundation -->
		<link rel="stylesheet" href="/stylesheets/foundation.css" />
		<!-- Font Foundation -->
		<link href="foundation-icons/foundation-icons.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/hero.css">

		<!-- Load JS scripts-->
		<script src="js/vendor/jquery.min.js"></script>
		<script src="js/foundation.min.js"></script>
	</head>
	<body>

		<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
			<% if(user) { %>
				<%- include partials/menu_log.ejs %>
			<% } else { %>
				<%- include partials/menu.ejs %>
			<% } %>
		</div>

		<div class="off-canvas-content" data-off-canvas-content>
		<!-- Contenu de la page -->
			<%- include partials/top-bar.ejs %>

			<div class="hero">
				<div class="column large-centered large-8 hero_content">
					<div class="row">
						<div class="large-12 columns">
							<h1>La connaissance est indispensable</h1>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<blockquote>
								On dit qu'une chose est libre quand elle existe par la seule néccessité de sa nature et quand c'est par soit seule qu'elle est déterminée à agir. Mais on dit néccessaire ou plutôt contrainte la chose qui est déterminée par une autre à exister et à agir selon une loi particulière et déterminée.
								<cite>Ethique, Spinoza</cite>
							</blockquote>
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns">
							<form action="recherche" name="recherche_evenenement" method="post">
								<div class="input-group">
									<span class="input-group-label">
										<i class="fi-magnifying-glass size-36"></i>
									</span>
									<input name="input_recherche" class="input-group-field" type="text" placeholder="Chercher par lieu ou par thèmes" autofocus>
									<div class="input-group-button">
										<input type="submit" class="button" value="Rechercher">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="columns large-6">
					<div class="row">
						<div class="columns large-8 large-centered medium-8 medium-centered" >
							<p>L'essentiel pour faire des rencontres c'est de savoir où et quand se retrouver. Déterminer vos thèmes et publiez.</p>
						</div>
						<div class="columns large-6 medium-6 small-12 large-centered medium-centered">
							<a class="button expanded success" href="/evenement/creation">Créez un évènement</a>
						</div>
						<hr class="hide-for-large">
					</div>
				</div>
				<% if(!user) { %>
				<div class="columns large-6">
					<div class="row">
						<div class="columns large-8 large-centered medium-8 medium-centered" >
							<p>Pour votre association ou votre entreprise, gérez vos évènements public sur votre page dédié</p>
							<p> </p>
						</div>
						<div class="columns large-6 medium-6 small-12 large-centered medium-centered">
							<a class="button expanded alert" href="/inscription">Connexion / Inscription</a>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</div> <!-- end off-cavenas -->


		<script>
			$(document).foundation();
		</script>
	</body>
</html>
