doctype html
html.no-js
  head
    title= `${title} | ${h.siteName}`
    block style
      link(rel='stylesheet', href='/vendor/foundation.min.css')
      link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/favicon.ico")
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header

    block messages
      if locals.flashes
        .flash-messages
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`flash--${category}`)
                p.flash__text!= message
                button.flash__remove(onClick="this.parentElement.remove()") &times;
    .content
      block content

    block scripts
      script(src="/vendor/jquery.min.js")
      script(src="/vendor/foundation.min.js")
      script(src="/dist/App.bundle.js")
