//- include mixins/_sideMenu
include mixins/_topMenu
include mixins/_footer

doctype html
html
  head
    title= `${title} | ${h.siteName}`
    block customStyle
    link(rel="stylesheet", href="/vendor/pure/pure-min.css")
    link(rel="stylesheet", href="/vendor/pure/grid.css")
    link(rel="stylesheet", href="/dist/style.css")
    link(rel="shortcut icon" type="image/png" href="/images/icons/favicon.ico")
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body

    +topMenu()

    #layout
      //- Menu toggle
      //- a.menu-link.active#menuLink(href="#menu")
        //- Hamburger icon
        //- span
      //- +sideMenu()
      //- +topMenu()

      #content
        //-unless currentPath == "/"
          .home-link.l-box
            a(href="/") â† accueil

        if flashes
          .row.flash-messages.inner
            - const categories = Object.keys(flashes)
            each category in categories
              .flash(class=`flash--${category}`)
                p.flash__text
                  each message, i in flashes[category]
                    if i > 0
                      br
                    != message
                button.flash__remove(onClick="this.parentElement.remove()") &times;

        block content

      +footer()

block customScripts
script(src="/dist/App.bundle.js")
