extends layout

block content
  .pure-g.small-form-inner.l-wrap.top-space
    .pure-u-1
      .text-center
        h1= title
        span.quiet ou
          a(href="/signup")  créer un compte
      .login-container
        form(action="/login" method="POST")
          - const savedData = h.store.get("login-form-data")
          - const errorData = h.store.get("form-errors")
          - h.store.remove("form-errors")
          label(for="email") E-mail
            span.quiet  (ou identifiant)
          input#email(type="email" name="email" value=`${savedData?savedData.email:""}` class=`${errorData && errorData.includes("email")?"error":""}` required)
          label(for="password") Mot de passe
          input#password(type="password" name="password" required)
          label
            a(href="/forgot") Mot de passe oublié ?
          input(type="hidden" name="_csrf" value=`${csrfToken}`)
          button.pure-button.success.expanded.top-space Valider
