extends layout

block content
  .pure-g.small-form-inner.l-wrap.top-space
    .pure-u-1
      .text-center
        h1= title
        span.quiet ou
          a(href="/signup")  créer un compte
      .login-container
        form(action="/login" method="POST")
          label(for="email") Email
            span.quiet  (ou identifiant)
          input#email(type="email" name="email" required)
          label(for="password") Mot de passe
          input#password(type="password" name="password" required)
          label
            a(href="/forgot") Mot de passe oublié ?
          input(type="hidden" name="_csrf" value=`${csrfToken}`)
          button.pure-button.success.expanded.top-space Valider
