# >> Copy this file to .env <<

# Node environment: production | development | test
NODE_ENV=production
# DB
DB_URL=mongodb://<dbuser>:<dbpassword>@<dbhost>:<dbport>/<dbname>
# DB for unit testing
TEST_DB_URL=mongodb://<dbuser>:<dbpassword>@<dbhost>:<dbport>/<dbname>
# PORT
PORT=3000
# API route
API_ROUTE=/api/v1
# Auth secret key
SECRET=
# Path for logs
LOGS=./logs
# Auth Google Id
GOOGLE_CLIENT_ID=
# Email
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
# Cloudinary
# CLOUDINARY_ENV : preprod | libhum
CLOUDINARY_ENV=preprod
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>