mixin checkRecDays()
  .pure-u-1
    label.pure-u-1= `Répétition de l'évènement :`
      input(type="checkbox" id="isrec" name="isrec")
    ul.ul-daysdisabled#checkday(class="hidden")
      li.li-daydisabled
        input(type="checkbox" id="monday" name="occurring[]" value="1")
        label(for="monday") Lundi &nbsp;
      li.li-daydisabled
        input(type="checkbox" id="tuesday" name="occurring[]" value="2")
        label(for="tuesday") Mardi &nbsp;
      li.li-daydisabled
        input(type="checkbox" id="wednesday" name="occurring[]" value="3")
        label(for="wednesday") Mercredi &nbsp;
      li.li-daydisabled
        input(type="checkbox" id="thursday" name="occurring[]" value="4")
        label(for="thursday") Jeudi &nbsp;
      li.li-daydisabled
        input(type="checkbox" id="friday" name="occurring[]" value="5")
        label(for="friday") Vendredi &nbsp;
      li.li-daydisabled
        input(type="checkbox" id="saturday" name="occurring[]" value="6")
        label(for="saturday") Samedi &nbsp;
      li.li-daydisabled
        input(type="checkbox" id="sunday" name="occurring[]" value="7")
        label(for="sunday") Dimanche &nbsp;