mixin forgotForm()
  form(action="/account/forgot" method="POST")
    p Mot de passe oublié ?
    .input-group
      span.input-group-label: i.fi-mail.size-36
      input.input-group-field(type="email" name="email" placeholder="Email, identifiant")
    button.button.expanded.success Envoyer
