mixin removeDialog(model, modelName)
  .pure-u-1.text-center.remove-event-confirm
    p.unpublished-color
      if modelName !== "account"
        | Voulez-vous vraiment archiver #{modelName === "event" ? "l'évènement" : "le groupe"}
        strong &nbsp;#{model.name}&nbsp;?
        if modelName !== "event"
          br
          | Les évènements associés seront également archivés.
      else
        | Voulez-vous vraiment supprimer votre compte ? Cette action est irréversible.
    .pure-u-1.text-center
      button.pure-button.primary.button(onClick=`location="/${modelName}s/${model._id}/remove"`) Ok
      button.pure-button.button#cancel(onClick=`location="/account"`) Annuler
