mixin sideMenu()
  if user
    .menu-avatar
      a(href="/account"): img.avatar(src=(user.photo ? `/uploads/${user.photo}` : user.gravatar + '&d=retro') title="Votre compte")
  ul
    li: a(href="/") Accueil
    if !user
      li: a(href="/login") Connexion/Inscription
    li: a(href="/events") Tous les évènements
    li: a(href="/events/add") Créez votre évènement
    if user
      li: a(href="/logout") Déconnexion
    else
      li: a(href="#") Condition général d'utilisation
