mixin sideMenu()
  ul
    li: a(href="/") Accueil
    li: a(href="/connexion") Connexion/Inscription
    li: a(href="/evenement") Tous les évènements
    li: a(href="/evenement/creation") Créez votre évènement
    li: a(href="#") Condition général d'utilisation
