mixin topMenu()
  .pure-menu.pure-menu-horizontal.pure-menu-fixed
    unless currentPath == "/" || currentPath == "/events" || currentPath == "/login"
      .search.search__nav
        form(action="/events" method="POST")
          input.search__input--nav(type="text" placeholder="Chercher par thème ou par lieu..." name="search" )
          input(type="hidden" name="_csrf" value=`${csrfToken}`)
    unless user || isLogin || (currentPath == "/login" || currentPath == "/signup" || currentPath == "/forgot")
      ul.pure-menu-list
        li.pure-menu-item
          a.pure-menu-link(href="/login") Se connecter
        li.pure-menu-separator
        li.pure-menu-item
          a.pure-menu-link(href="/signup") Créer un compte
    else
      if user
        ul.pure-menu-list
          li.pure-menu-item.menu-item-avatar
            span.pure-menu-link
              img.avatar(src=`${h.profilePhotoSrc(user)}` alt="Mon compte")
