mixin topMenu()

  .topbar
    ul.ul-topbar
      li.li-topbar
        a.menu-item(href="/")
          img.avatar(src="/images/icons/logo.png")
      unless user || (currentPath == "/login" || currentPath == "/signup" || currentPath == "/forgot")
        li.menu-li-right
          a.menu-item.menu-item__text(href="/login") Se connecter
        li.menu-li-right
          a.menu-item.menu-item__text(href="/signup") Créer un compte
      if user
        li.menu-li-right
          a.menu-item-avatar.menu-item
            img.avatar(src=`${h.profilePhotoSrc(user)}` alt="Mon compte")

  if user
    .pop-over
      .no-back
        .pop-over-header
          span.pop-over-header-title= `${user.name} (${user.email})`
          a.pop-over-header-close-btn.icon-close(href="#") &times;
        .pop-over-content
          div
            ul.pop-over-list
              li: a(href="/account") Mon compte
            hr
            ul.pop-over-list
              li: a(href="/events/add") Créer un évènement
            hr
            ul.pop-over-list
              li: a(href="/logout") Se déconnecter
            
