mixin topMenu()
  div(data-sticky-container)
    .title-bar(data-sticky-on="small" data-sticky data-options="marginTop:0;")
      .title-bar-left(data-open="offCanvas")
        button.menu-icon(type="button")
        span.title-bar-title__menu Menu
      .title-bar-title(onclick="location.href='/'")
        img(src="/images/default.jpg" width="60px" title="Accueil")
      unless user
        .title-bar-right
          a(href="/login") Connexion / Inscription
