mixin topMenu()
  div(data-sticky-container)
    .title-bar(data-sticky-on="small" data-sticky data-options="marginTop:0;" style="width:100%; z-index: 100000; text-align: center;")
      .title-bar-left(data-open="offCanvas")
        button.menu-icon(type="button")
        span.title-bar-title Menu
      .title-bar-title(onclick="location.href='/'" style="display: inline-block; position: relative; left:-37px;")
        img(src="/images/rectangle-1.jpg" width="60px")
