.hide {
  text-indent: -999999px;
  font-size: 0;
}

.text-center {
  text-align: center;
}

.avatar {
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: center;
}

.card {
  background: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  max-width: 220px;
  height: 225px;
  margin-left: auto;
  margin-right: auto;
  &__header {
    height: 152px;
    text-align: center;
    border-bottom: 1px solid rgba(46, 62, 72, 0.12);
    img {
      height: 100%;
    }
  }
  &__new {
    cursor: pointer;
    &:after {
      content: "+";
      display: block;
      position: relative;
      left: calc(50% - 10px);
      top: calc(50% - 40px);
      font-size: 40px;
      color: grey;
    }
  }
}

pre.error {
  padding: 5rem;
  background: white;
  line-height: 3;
  white-space: pre-line;
}

.file-upload-filename {
  text-align: center;
}

.top-space {
  margin-top: 20px;
}

.separator {
  border-top: 1px solid rgba(46, 62, 72, 0.12);
}

.photo-profile {
  max-height: 192px;
  img {
    max-height: 192px;
  }
}

.photo-orga-event {
  text-align: center;
  height: 250px;
  img {
    max-height: 250px;
  }
}
