// .hide {
//   text-indent: -999999px;
//   font-size: 0;
// }

// .img-responsive {
//   max-width: 100%;
//   height: auto;
// }

.ul-daysdisabled{
  // div pour la checkbox et le label pour qu'il reste sur la même ligne en responsive
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li-daydisabled{
  float: left;
  list-style-type: none;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  // align-self: center;
}

.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-self: center;
}

.icon {
  svg {
    width: 25px;
    height: 25px;
  }
}

.card {
  background: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  width: 220px;
  height: 225px;
  &:hover img {
    transition: all 0.7s ease;
    transform: translateY(-192px);
    opacity: 0;
    z-index: 1;
  }
  &__header {
    position: relative;
    height: 185px;
    border-bottom: 1px solid rgba(46, 62, 72, 0.12);
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 2;
    }
    &--content {
      position: absolute;
      padding: 0.5em;
      z-index: 1;
      p {
        margin-top: 0;
        font-size: 1.1rem;
      }
    }
  }
  &__section {
    flex: 1 0 auto;
    padding: 0.5rem;
    p {
      padding: 0;
      margin: 0;
    }
  }
  &__new {
    cursor: pointer;
    &:after {
      content: "+";
      display: block;
      position: relative;
      left: calc(50% - 10px);
      top: calc(50% - 30px);
      width: 2%;
      font-size: 40px;
      color: grey;
    }
  }
}

.cardGrid {
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media (min-width: $sm) and (max-width: $lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: $xs) and (max-width: $sm) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: $xs) {
    grid-template-columns: 1fr;
  }
  justify-items: center;
}

.normaltext {
  font-style: normal;
  font-family: serif;
  font-weight: normal;
  font-size: 0.875em;
}

pre.error {
  padding: 5rem;
  background: white;
  line-height: 3;
  white-space: pre-line;
}

.file-upload-filename {
  text-align: center;
}

.photo-profile {
  max-height: 192px;
  img {
    max-height: 192px;
  }
}

.photo-group-event {
  text-align: center;
  max-height: 250px;
  img {
    object-fit: cover;
    max-height: 250px;
    width: 100%;
  }
}

.show-for-sr {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.quiet {
  color: $quiet;
}

.no-scroll {
  overflow: hidden;
}

.unpublished-color {
  color: $unpublishedColor;
}

.remove-event-confirm {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border: 1px solid $unpublishedColor;
  #cancel {
    margin-left: 10px;
  }
}
