// #map {
//   position: relative;
//   padding: 5px;
//   // height: 120%;
//   // width: 100%;
//   height: 50vh;
// }

.result {
  list-style-type: none;
  overflow: auto;
  position: relative;
  padding: 0 5px;
  h4 {
    margin: unset;
  }
  &-element {
    display: flex;
    margin-top: 5px;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
    &:hover {
      background-color: $lightGray;
    }
    img {
      object-fit: cover;
      width: 80px;
      height: 70px;
      border-radius: 3px;
      margin-right: 15px;
    }
  }
}

// ordi middle
@media screen and (min-width: 48em) {
  .result {
    max-height: 85vh;
  }

  // #map {
  //   height: 93vh;
  // }

  // #map{
  //   max-height: 70vh;
  // }
  //   .div-list{
  //     height: 70vh;
  //   }
  //   .result{
  //     // overflow: scroll;
  //     height: 70vh;
  //   }
}

// ordi bigg
// @media screen and (min-width: 64em) {
// }
