// .top-bar,
// .top-bar ul {
//   background-color: black;
// }

// .top-bar {
//   &__menu {
//     cursor: pointer;
//     color: #fefefe;
//     margin-left: 5px;
//   }
//   input {
//     max-width: 100%;
//   }
// }

// .top-bar-right {
//   a {
//     font-weight: 600;
//     color: #fefefe;
//   }
// }

// .title-bar {
//   text-align: center;
//   width:100%;
//   z-index: 100000;
// }

// .title-bar-title {
//   // display: inline-block;
//   // position: relative;
//   // left:-37px;
//   cursor: pointer;
//   &__menu {
//     cursor: pointer;
//   }
// }

// .title-bar-left {
//   text-align: left;
// }

// @media all and (max-width: 650px) {
//   .menu-separator {
//     margin-top: 5px;
//     border-top: 1px solid grey;
//   }
// }

// .off-canvas.position-left {
//   width: 330px;
// }

// body {
//   color: #777;
// }

// .pure-menu-horizontal {
//   height: $menuHeight;
//   background-color: black;
// }
// .pure-menu-horizontal .pure-menu-link {
//   color: white;
//   font-weight: bold;
// }

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}


/*
The content `<div>` is where all your content goes.
*/
// .content {
//   margin: 0 auto;
//   padding: 0 2em;
//   max-width: 800px;
//   margin-bottom: 50px;
//   line-height: 1.6em;
// }

// .header {
//   margin: 0;
//   color: #333;
//   text-align: center;
//   padding: 2.5em 2em 0;
//   border-bottom: 1px solid #eee;
// }
// .header h1 {
//   margin: 0.2em 0;
//   font-size: 3em;
//   font-weight: 300;
// }
// .header h2 {
//   font-weight: 300;
//   color: #ccc;
//   padding: 0;
//   margin-top: 0;
// }

// .content-subhead {
//   margin: 50px 0 20px 0;
//   font-weight: 300;
//   color: #888;
// }

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

// #menu {
//   margin-left: -$menuWidth;
//   width: $menuWidth;
//   position: fixed;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   z-index: 1000; /* so the menu or its navicon stays above all content */
//   background: #191818;
//   overflow-y: auto;
//   -webkit-overflow-scrolling: touch;
// }
/*
  All anchors inside the menu should be styled like this.
  */
// #menu a {
//   //color: #999;
//   color: white;
//   border: none;
//   padding: 0.6em 0 0.6em 0.6em;
// }

/*
  Remove all background/borders, since we are applying them to #menu.
  */
// #menu .pure-menu,
// #menu .pure-menu ul {
//   border: none;
//   background: transparent;
// }

/*
  Add that light border to separate items into groups.
  */
// #menu .pure-menu ul,
// #menu .pure-menu .menu-item-divided {
//   border-top: 1px solid #333;
// }

/*
  Change color of the anchor links on hover/focus.
  */
// #menu .pure-menu li a:hover,
// #menu .pure-menu li a:focus,
// .pure-menu-horizontal li a:hover,
// .pure-menu-horizontal li a:focus {
//   background: #333;
// }

/*
  This styles the selected menu item `<li>`.
  */
// #menu .pure-menu-selected,
// #menu .pure-menu-heading {
//   background: #1f8dd6;
// }
/*
  This styles a link within a selected menu item `<li>`.
  */
// #menu .pure-menu-selected a {
//   color: #fff;
// }

/*
  This styles the menu heading.
  */
// #menu .pure-menu-heading {
//   font-size: 110%;
//   color: #fff;
//   margin: 0;
//   height: $menuHeight;
// }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
  position: fixed;
  display: block; /* show this only on small screens */
  top: 0;
  left: 0; /* "#menu width" */
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px; /* change this value to increase/decrease button size */
  z-index: 10;
  width: 5em;
  height: auto;
  padding: 2.1em 1.6em;
}

.menu-link:hover,
.menu-link:focus {
  background: #000;
}

.menu-link span {
  position: relative;
  display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
  background-color: #fff;
  //width: 100%;
  width: 20px;
  height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " ";
  box-sizing: unset;
}

.menu-link span:after {
  margin-top: 0.6em;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
// @media (min-width: 48em) {
//   .header,
//   .content {
//     padding-left: 2em;
//     padding-right: 2em;
//   }
//   #layout {
//     padding-left: 150px; /* left col width "#menu" */
//     left: 0;
//   }
//   #menu {
//     left: 150px;
//   }
//   .menu-link {
//     position: fixed;
//     //left: 150px;
//     //display: none;
//   }
//   #layout.active .menu-link {
//     left: 150px;
//   }
// }

// @media (max-width: 48em) {
//   /* Only apply this when the window is small. Otherwise, the following
//   case results in extra padding on the left:
//       * Make the window small.
//       * Tap the menu to trigger the active state.
//       * Make the window large again.
//   */
//   #layout.active {
//     position: relative;
//     left: 150px;
//   }
// }

#menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  background: rgba(254, 254, 254, 0.25);
  opacity: 0;
  cursor: pointer;
  visibility: hidden;

}
#menu-overlay.active {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}

.pop-over {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d6dadc;
  border-bottom-color: #c4c9cc;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  display: none;
  overflow: hidden;
  position: fixed;
  width: 300px;
  margin-top: 44px;
  z-index: 70;
  // What? We need to GPU accelerate the pop-over menu to force it onto
  // another paint layer so that Safari renders it above the board and
  // board menu (which are also GPU accelerated).
  -webkit-transform: translate3d(0, 0, 0);
  hr {
    margin: 8px 0;
  }
  &--visible {
    display: block;
    right: 0;
  }
}
.pop-over-header {
  height: 36px;
  position: relative;
  margin-bottom: 8px;
  text-align: center;
}
.pop-over-header-title {
  box-sizing: border-box;
  color: #838c91;
  display: block;
  line-height: 36px;
  border-bottom: 1px solid #d6dadc;
  margin: 0 10px;
  overflow: hidden;
  padding: 0 32px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
}
.pop-over-header-close-btn {
  padding: 10px 10px 10px 4px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  &:hover {
    color: $black;
  }
  color: #999;
  /* height: 18px; */
  font-size: 18px;
  // line-height: 18px;
  //width: 19px;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // display: inline-block;
  // font-family: trellicons;
  // font-style: normal;
  // font-weight: 400;
  line-height: 1;
  // text-align: center;
  // text-decoration: none;
}
.pop-over-content {
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
  // max-height: 845px;
  padding: 0 10px 10px;
}
.pop-over-list li > a {
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 6px 10px;
  position: relative;
  margin: 0 -10px;
  text-decoration: none;
  color: $black;
  &:hover {
    background-color: $lightGray;
  }
}


// .menu-item-avatar .pure-menu-link {
//   height: 44px;
//   cursor: pointer;
// }

// .menu-item-logo .pure-menu-link{
//   height: 44px;
//   cursor: pointer;
// }

.pure-menu-list.connection {
  margin-top: 5px;
}

.topbar{
  height: $menuHeight;
  background-color: $black;
  overflow: hidden;
  top : 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.top-left, .top-middle, .top-right {
  padding : 7px;
}

.ul-topbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li-topbar {
  float: left;
}

.menu-item {
  display: block;
  // text-align: center;
  // text-decoration: none;
  // vertical-align: middle;
  padding: 7px;
}

.menu-item-avatar {
  display: block;
  padding: 0;
}

.menu-li-right {
  float: right;
  padding : 7px;
}




