// li.search {
//   width: 500px;
// }
// .search input::-webkit-input-placeholder {
//   color: $placeHolderColor;
// }
// .search input:-moz-placeholder {
//   /* Firefox 18- */
//   color: $placeHolderColor;
// }
// .search input::-moz-placeholder {
//   /* Firefox 19+ */
//   color: $placeHolderColor;
// }
// .search input:-ms-input-placeholder {
//   /* IE 10+ */
//   color: $placeHolderColor;
// }
// .search input::-ms-input-placeholder {
//   /* Edge */
//   color: $placeHolderColor;
// }
// .search input:placeholder-shown {
//   /* Standard one last! */
//   border: 0;
// }
.search {
  position: relative;
  width: 100%;
  display: flex;
  form {
    width: 100%;
  }
  &__input {
    font-size: 25px;
    outline: 0;
    border: 0;
  }
  .nav {
    font-size: 25px;
    background: none;
    color: white;
    border: 0;
    outline: 0;
    height: 100%;
    :focus {
      background-color: black;
      border: 0;
    }
  }
  .around {
    position: absolute;
    margin-top: 60px;
    label {
      color: white;
    }
  }
}
.around {
  label {
    display: inline;
    margin-left: 5px;
    cursor: pointer;
  }
}
