// .search {
//   position: relative;
//   display: flex;
//   form {
//     width: 100%;
//     // width: 200px;
//   }
//   &__input {
//     font-size: 25px;
//     outline: 0;
//     border: 0;
//     &--nav {
//       font-size: 25px;
//       background: none;
//       color: white;
//       border: 0;
//       outline: 0;
//       height: 100%;
//       margin-left: 0px;
//       :focus {
//         background-color: black;
//         border: 0;
//       }
//     }
//   }
//   &__nav {
//     // float: left;
//     width: 70%;
//   }
//   .around {
//     position: absolute;
//     margin-top: 60px;
//     label {
//       color: white;
//     }
//   }
// }
// .around {
//   label {
//     display: inline;
//     margin-left: 5px;
//     cursor: pointer;
//   }
// }

// .search-form{
//   width: auto;
// }

.search__input {
  font-size: 20px;
  height: 40px;
  width: 100%;
  // display: block;
  // background-color: $black;
  background-image: url('/images/icons/search.svg');
  background-position: 5px;
  background-repeat: no-repeat;
  background-size: 30px;
  color: black;
  outline: 0px;
  border: 0;
  padding: 5px 5px 5px 40px;
  // width: 80%;
  :focus {
    background-color: white;
    border: 0;
  }
}

.search {
  padding: 5px;
  position: relative;
  width: 100%;
}

// .li-form {
//   // width: 50%;
//   // padding: 0px 10px;
//   // float: left;
// }
